<section id="ceremonial">
  <div class="container">
    <h2>CEREMONIAL</h2>
    <hr>
    <p>“First comes love, then comes the date,<br>the venue, the tuxes, the....details.”</p>
  </div>
  <!-- Button trigger modal -->
  <div class="button">
    <button type="button" data-toggle="modal" data-target="#ceremonialModal">Find Out More</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="ceremonialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">ceremonial</h4>
        </div>
        <div class="modal-body">
          <p>So many choices….The good news is that we at Big Boss have got your back. Our passion of well-dressed Grooms and Groomsmen has ensured we stock some of the best wedding attire and accessories. Our personal dressing service gives the Gentlemen
            a free fitting in store before placing any order. This ensures we get your Suit arm length and waist size correct in addition to colour coordinating your wardrobe. At BIG BOSS we have selected the most popular style picks for you and your
            entire wedding party from tuxes that wow to the stunning suits that speak for your style. We provide the fashion conscious male with an enviable range of apparels that suit not only the occasion but also his mood, personality and image.</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
</section>
