<section id="FAQ">
  <div class="container">
    <h2>Frequently Asked Question’s (FAQ’s)</h2>
    <p><strong>Q. I really have an idea (no idea) of what I want to wear?</strong></p>
    <p>A. <em>You can take advantage of our complimentary tuxedo or suit try-ons, so you can check out what looks good on you before you make up your mind on what to wear. Pop in with a friend if you like. We stock slim fit, Regular fit to wide and short fittings.</em></p>
    <p><strong>Q. How about the suit size and will it fit well?</strong></p>
    <p>A. <em>At Big Boss we encourage Gentlemen to have an in store fitting to ensure they look their very best. A
    final fitting is done to ensure any alterations are just right.<br>*Big Boss will cover the cost of any alteration.</em></p>
    <p><strong>Q. How about the suit style?</strong></p>
    <p>A. <em>We source all suits ranging from the classic fit-two button, slim fit- one button with season shades-to get you colour coordinated. We got you a neat selection for you to choose from.</em></p>
    <p><strong>Q. So how much time do I need to get my order in if it’s not stocked? Especially for my Wedding.</strong></p>
    <p>A. <em>Suit orders are done preferably 3 months to your big day. Allowing time to source the colour and style you want. We don’t want you under pressure ofcourse. However, we do consider undertaking any last minute orders at an extra fee and have delivery within 1 -2 weeks.<br>* Terms and conditions apply.</em></p>
    <p><strong>Q. So how do I hook up with BIG BOSS?</strong></p>
    <p>A. <em></em></p>
    <p><strong></strong></p>
    <p>A. <em>Once you are decided on your theme, it’s all about colour and style. Be smart and meet up with our Personal dresser in-store to chit chat on that look. You can also share your desired look on WhatsApp.</em></p>
  </div>
</section>
