<section id="about">
  <div class="container">

    <h2>OUR STORY</h2>
    <hr>

    <p>In 2012 the brand BIG BOSS was coined and driven by the urge to provide trendy designs, fashion and clothing styles combined with quality fabrics and accessories for the discerning Gentleman.<br><br>Our whole range of Men’s apparels reflects authenticity
      and legitimacy. We pride in having our own distinctive style in men's fashion and trends, with the aim of creating a brand that continues to ensure the BOSS is kept distinctively dressed.</p>

    <div class="button">
      <button type="button" name="button"><a routerLink='/our-story' routerLinkActive='active'>Read More</a></button>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
