#about {
  margin: 3vh 0 10vh 0;
}

#about h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

hr {
  width: 15vw;
  border-color: #FFF100;
  border: 4px solid #FFF100;
  border-radius: 20px;
}

#about a {
  color: black;
}

#about a:hover {
  text-decoration: none;
}

#about button:hover {
  background-color: black;
  transition: 0.5s;
}

#about a:hover {
  color: #FFF;
}
