.navbar-default {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  width: 10vw;
  height: auto;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.scrolled .navbar-brand img {
  width: 5vw;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

/* Link */

.navbar-nav {
  padding: 4vh 0;
}

.scrolled .navbar-nav {
  padding: 1vh 0;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
  margin-left: 2vw;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF100;
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF100;
  background-color: #E7E7E7;
}*/

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF100;
  background-color: #D5D5D5;
}

.scrolled {
  background-color: #000000;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.navbar-fixed-top {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#contact {
  padding: 10vh 0 2vh 0;
  background: #000;
  color: #FFF100;
  font-weight: 300;
}

#contact p {
  font-size: 18px;
}

@media only screen and (max-width: 769px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    margin-left: 1vw;
  }
  .scrolled .navbar-brand {
    padding: 25px;
  }
  .scrolled .navbar-nav {
    padding: 10px 0;
  }
}
