.navbar-default {
  background: rgba(0, 0, 0, 1);
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  width: 5vw;
  height: auto;
}

/* Link */

.navbar-nav {
  padding: 1vh 0;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
  margin-left: 0.5vw;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF100;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF100;
  background-color: #D5D5D5;
}

.navbar-fixed-top {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#contact {
  padding: 10vh 0 2vh 0;
  background: #000;
  color: #FFF100;
  font-weight: 300;
  text-align: center;
}

#contact p {
  font-size: 16px;
}

#contact .fa {
  border: 2px solid #FFF100;
  border-radius: 50%;
  padding: 7px;
  width: 35px;
  height: 35px;
}

@media only screen and (min-width: 425px) and (max-width: 769px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    margin-left: 1vw;
  }
  .navbar-brand {
    padding: 25px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .navbar-brand img {
    width: 15vw;
    height: auto;
  }
  #contact p {
    font-size: 16px;
  }
}
