<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img src="../../assets/Logo.png" alt="">
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active">HOME</a></li>
        <li><a routerLink="/our-story" href="#our-story" routerLinkActive="active">OUR STORY</a></li>
        <li><a href="#catalogue">CATALOGUE</a></li>
        <li><a href="#ceremonial">CEREMONIAL</a></li>
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 contact-section-1">
        <p>For our personalized service call or WhatsApp our Personal Dresser Racheal on +254 739 665 299 and book an appointment.</p>
        <p>Tell us all about your style, colours, taste and we’ll make things fall in place.</p>
      </div>
      <div class="col-lg-8 col-md-8 contact-section-2">
        <p><span class="fa fa-map-marker"></span> BIG BOSS is located at the new Highway Mall, 2nd Floor, Shop No.14 next to Nakumatt Mega, Uhuru Highway.</p>
        <div class="row">
          <div class="col-lg-7 col-md-7 contact-section-3">
            <p><span class="fa fa-phone"></span> +254 739 665 299</p>
            <p><span class="fa fa-envelope"></span> contact@bigbossdesigns.co.ke</p>
          </div>
          <div class="col-lg-5 col-md-5 contact-section-4">
            <p><span class="fa fa-facebook"></span> bigbossdesigns</p>
            <p><span class="fa fa-twitter"></span> @designsbossbig</p>
          </div>
        </div>
      </div>
    </div>
    <h5>Big Boss <script type="text/javascript"> document.write(new Date().getFullYear());</script></h5>
  </div>
</section>
