<section id="gallery">
  <div class="container">
    <h2>GALLERY</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 business">
        <a href="#"><h3>BUSINESS SUITS</h3></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wedding">
        <a href="#"><h3>WEDDING SUITS</h3></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 accesories">
        <a href="#"><h3>CASUAL/<br>EVENTS/<br>ACCESSORIES</h3></a>
      </div>
    </div>
  </div>

</section>
