#landing-page {
  margin: 0;
}

#landing-page h1 {
  font-size: 70px;
  font-style: italic;
  text-align: right;
  color: #FFF100;
  padding-top: 40vh;
  margin: 0;
  width: 50vw;
  border-bottom: 5px solid #fff100;
}

#landing-page button {
  z-index: 2;
  position: absolute;
  top: 70vh;
  left: 20vw;
  color: #000000;
  background: #fff100;
}

#landing-page img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1440px) {
  #landing-page button {
    top: 80vh;
  }
}

@media only screen and (max-width: 1024px) {
  #landing-page button {
    top: 65vh;
  }
}

@media only screen and (max-width: 769px) {
  #landing-page button {
    display: none;
  }
}
