#landing-page {
  margin-top: 9vh;
}

#landing-page button {
  z-index: 2;
  position: absolute;
  top: 70vh;
  left: 20vw;
  color: #000000;
  background: #fff100;
}

#landing-page img {
  width: 100vw;
  height: auto;
}

#landing-page a {
  color: black;
}

#landing-page a:hover {
  text-decoration: none;
}

.carousel {
  display: block;
}

.carousel-responsive-design {
  background-image: url("../../assets/image/carousel_04.jpg");
  background-size: cover;
  background-position: center;
  height: 32vh;
  display: none;
  margin-top: 50px;
}

@media only screen and (max-width: 1440px) {
  #landing-page button {
    top: 80vh;
  }
}

@media only screen and (max-width: 1024px) {
  #landing-page button {
    top: 65vh;
  }
}

@media only screen and (max-width: 769px) {
  #landing-page button {
    display: none;
  }
  #landing-page {
    margin-top: 7vh;
  }
}

@media only screen and (max-width: 425px) {
  .carousel-responsive-design {
    display: block;
  }
  .carousel {
    display: none;
  }
}
