<section id="landing-page">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../../assets/carousel-04.jpeg" alt="Perfectly Suited">
      </div>
      <div class="item">
        <img src="../../assets/carousel-01.jpeg" alt="Perfectly Suited">
      </div>
      <div class="item">
        <img src="../../assets/carousel-02.jpeg" alt="Ceremonial">
      </div>
      <div class="item">
        <img src="../../assets/carousel-03.jpeg" alt="Classy">
      </div>
    </div>
    <button type="button" name="button">View Our Gallery</button>
  </div>
</section>
