<section id="our-story">
  <div class="container">
    <h2>OUR STORY</h2>
    <p>In 2012 the brand BIG BOSS was coined and driven by the urge to provide trendy designs, fashion and clothing styles combined with quality fabrics and accessories for the discerning Gentleman. Our whole range of Men’s apparels reflects authenticity
      and legitimacy. We pride in having our own distinctive style in men&#39;s fashion and trends, with the aim of creating a brand that continues to ensure the BOSS is kept distinctively dressed. Big Boss stands unparalleled in its rich confluence on
      a path of perpetual growth, with its male fashion solutions. Designs that beautifully manifest the richness of corporate tradition balanced with contemporary style, fabrics that hold together professional, modernity and craftsmanship that weaves
      together style and class.</p><br>
    <h3>How we do it.</h3>
    <p>We source our collection from well reputable suit providers with years of stitching and tailoring experience as well as some of the well renowned brands in the fabric industry. Our Collection is in partnership with brands that stich for the European
      market and therefore we keep the Gentlemen dressed in the latest trends. Big Boss core brand essence is to bring out each Gentleman’s character, style and personality through his fashion statement. Indeed what Big Boss stands for is clearly expressed
      and defined in everything we do – towards Excellence. Our Collection ranges from Formal Business Suits, Casual Jackets and Trousers, Men’s Accessories and leather shoes and our sparkle being in Ceremonial and Wedding Tuxedos.</p><br>
    <p><em>“We have proudly dressed Gentlemen who have complimented the personal service we give.”</em></p><br>
    <h3>Why we do it with passion.</h3>
    <p>Our Objective remains to provide the Gentlemen with quality suits and definitely build onto their personal branding. The desire was born out of passion where we saw a gap in finding specific suit cuts and ceremonial pieces for weddings. We took a
      bold step to seek and source for wedding suits and find the appropriate desired colours. We found the place – ofcourse - with the one of the best fabrics and wedding industry and now strive to fill the gap. We have been dressing Gentlemen passionately
      for the last 4 years and getting better at every step. We do all the shopping ourselves with no middlemen and therefore keep the costs competitive with an enduring value supported by the dynamism of tastes and dress codes.</p><br>
  </div>
</section>
