#our-story {
  margin-top: 20vh;
}

#our-story h2 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}

#our-story h3 {
  font-weight: 300;
  font-size: 40px;
}

#our-story p {
  font-size: 18px;
}
