/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

button {
  background: none;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

p, button {
  font-size: 24px;
}

.button {
  text-align: center;
}

@media only screen and (max-width: 769px) {
  p, button {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 426px) {
  p, button {
    font-size: 3.5vw;
  }
}
