.go-offers img, #offers img {
  width: 100%;
  height: auto;
  margin: 0;
}

#offers .col-lg-6, #offers .col-md-6 {
  min-height: 55vh;
}

#offers img {
  height: 20vh;
  width: auto;
}

#offers .happily img {
  height: 25vh;
}

.dapper, .free {
  background: linear-gradient(rgba(255, 241, 0, 0.8), rgba(255, 241, 0, 0.8));
  color: black;
}

.big, .happily, .dapper, .free {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#offers {
  text-align: center;
}

#offers h3 {
  font-weight: 300;
  font-size: 30px;
}

@media only screen and (max-width: 426px) {
  .free {
    background: white;
  }
  .happily {
    background: linear-gradient(rgba(255, 241, 0, 0.8), rgba(255, 241, 0, 0.8));
  }
  #offers .happily img {
    width: 100%;
  }
}
