<section id="offers">
  <img src="../../assets/website-02.png" alt="">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 big">
        <h3>Go BIG</h3>
        <p>At BIG BOSS Size matters…..Your party size will find it cheaper buying their Suits/Tuxedos from us. So Go Big and pass the savings on to your party from the groomsmen to your father-in- law.</p>
        <p><em>*Any party of seven (7) and over gets 50% discount on the grooms suit.</em></p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dapper">
        <h3>Go DAPPER</h3>
        <p>Our suits and tuxedos range from size 46-60, it’s easy to get everyone coordinated and styled.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 free">
        <h3>Go FREE</h3>
        <p>Visit us in store for your free fitting to pick the size and style for your usual business Suit or better yet for your BIG day.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 happily">
        <h3>HAPPILY EVER AFTER</h3>
        <p>Keep him looking sharp for the honeymoon and beyond. See our selection of casual wear.<br>Register with us to save on your future purchases in-store. We shall send you alerts when the new stuff checks in.</p>
      </div>
    </div>
  </div>
</section>
